
.main{
    display: flex;
    padding: 10px;
}

.button {
    color: #444;
    background-color: #FFF;
    min-height: 40px;
    min-width: 100px;
    margin: auto;
    font-size: 1.3rem;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
}

.button:hover {
    background-color: #f8f8f8;
}

.button:active {
    background-color: #E8E8E8;
}